<div class="row">
  <ngb-tabset>
    <ngb-tab *ngFor="let tab of tabs">
      <ng-template ngbTabTitle>
        {{tab}}
      </ng-template>
      <ng-template ngbTabContent>
        <table class="table">
          <thead>
            <tr>
              <td *ngFor="let tabHeader of tabHeadersContent[tab]"><strong>{{tabHeader}}</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="loading">
              <td>Loading data</td>
            </tr>
            <tr class="has-error" *ngIf="hasError && !loading">
              <td colspan="5">ERROR RETRIEVING DATA</td>
            </tr>
            <tr class="has-error" *ngIf="!loading && !dataSet[tab].length">
              <td colspan="5">THERE ARE NO DATA</td>
            </tr>
            <tr *ngFor="let data of dataSet[tab]">
              <td *ngFor="let tabHeader of tabHeadersContent[tab]">{{data[tabHeader]}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>