/* You can add global styles to this file, and also import other style files */
@import 'node_modules/angular2-toaster/src/toaster';

html, body {
  background: #FFF;
}

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

.nav-tabs {
  .nav-link {
    border-right: 2px solid #dee2e6;
    border-radius: 0;

    &.active {
      color: #FFF;
      background: #007bff;
    }
  } 
}

.filter-section {
  margin: 10px 0;

  .input-lable {
    margin-top: 7px;
  }
}

.table {
  td, th {
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
  }
  thead {
    tr {
      td {
        strong {
          font-size: 0.9rem;
        }
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #dee2e6;

      &.has-error {
        background: red;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        text-align: center;
      }
    }
  }
}

ul.pagination {
  float: right;
}